#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  justify-items: center;
  --clr-accent: red;
  --clr-secondary: purple;
  --clr-primary: blue;
  --angle: 45deg;
  --opacity: 0.5;
}

*, *::before, *::after {
	box-sizing: border-box;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn)
  }
}

.page-title {
  /* border: dotted .5em var(--clr-secondary);
  padding: 1em; */

  position: relative;
  z-index: 0;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	padding: 1rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #1a232a;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      transparent, rgba(168, 239, 255, 1), transparent 30%);
    animation: rotate 4s linear infinite;
  }

  &::after {
    
  }
}




.title {
  text-shadow: 
    2px 2px 0 var(--clr-accent),
    4px 4px 0 var(--clr-primary),
    6px 6px 0 var(--clr-secondary)
    ;
}

.questionCard {
  border: 10px dotted rgb(128, 0, 255);
  padding: 2em;
}

.warning{
  font-style: italic;
  font-size: small;
}

.score{
  --border-size: .5rem;
}
