#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  justify-items: center;
  --clr-accent: red;
  --clr-secondary: purple;
  --clr-primary: blue;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-title {
  border: solid .5em var(--clr-secondary);
}

.title {
  text-shadow: 
    2px 2px 0 var(--clr-accent),
    4px 4px 0 var(--clr-primary),
    6px 6px 0 var(--clr-secondary)
    ;
}

.questionCard {
  border: 10px dotted rgb(128, 0, 255);
  padding: 2em;
}

.warning{
  font-style: italic;
  font-size: small;
}

.score{
  font-size: xxx-large;
  /* border: 10px dotted greenyellow; */
  /* max-width: 3em; */
  width: 60vmin;
  height: 50vmin;
  display: grid;
  place-content: center;

  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );
  
  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

  background: var(--main-bg) padding-box, 
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    animation-play-state: paused
  }
};

  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
