#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  justify-items: center;
  --clr-accent: red;
  --clr-secondary: purple;
  --clr-primary: blue;
  --angle: 45deg;
  --opacity: 0.5;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

*, *::before, *::after {
	box-sizing: border-box;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-title {
  /* border: dotted .5em var(--clr-secondary);
  padding: 1em; */

  position: relative;
  z-index: 0;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	padding: 1rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: rgb(17, 17, 112);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      transparent, rgb(220, 234, 27), transparent 30%);
    animation: animate 2s linear infinite;
  }

  &::after {
    content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: rgb(17, 17, 112);
		border-radius: 5px;
  }
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}





.title {
  text-shadow: 
    2px 2px 0 var(--clr-accent),
    4px 4px 0 var(--clr-primary),
    6px 6px 0 var(--clr-secondary)
    ;
}

.questionCard {
  border: 10px dotted rgb(128, 0, 255);
  padding: 2em;
}

.warning{
  font-style: italic;
  font-size: small;
}

.score{
  --border-size: .5rem;
}
